{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/icon type" href="{% static 'p.jpg' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'smlindex.css' %}">
    <link rel="stylesheet" href="{% static 'med-index.css' %}">
    <link rel="stylesheet" href="{% static 'med2-index.css' %}">
    <link rel="stylesheet" href="{% static 'med3-index.css' %}">
    <link rel="stylesheet" href="{% static 'med4-index.css' %}">
</head>
<body>
    <div class="loader"></div>
    <div class="graidient-light"><div></div></div>
    <header>
        <!-- <div class="div-header"></div> -->
        <nav>
            <div>
                <img src="{% static 'jayakar-high-resolution-logo-transparent.png' %}" alt="">
            </div>
            <div>
                <a href="#about">ABOUT</a>
                <a href="#skills">SKILLS</a>
                <a href="#education">EDUCATION</a>
                <a href="#projects">PROJECTS</a>
                <div class="mouse-pointer"></div>
            </div>
            <div class="menu">
                <img src="{% static 'menu.png' %}" alt="" id="menuburgur">
            </div>
            <div class="navbar-sml-scr">
                <div class="cross">
                    <img src="{% static 'cross.png' %}" alt="" id="crossimg">
                </div>
                <a href="#about">ABOUT</a>
                <a href="#skills">SKILLS</a>
                <a href="#education">EDUCATION</a>
                <a href="#projects">PROJECTS</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="main-sec">
            <div>
                <h1>Hello,<br> This is <span style="color: var(--theme-color-patter); background-color: transparent;">JAYAKAR</span>. I'm a<br><span style="color: var(--theme-color-patter); background-color: transparent;">{</span> <span style="color: rgb(14, 139, 255); background-color: transparent;">Python Full Stack Developer</span> <span style="color: var(--theme-color-patter); background-color: transparent;">}</span>.</h1>
                <div class="socialmedia">
                    <a href="https://github.com/JayakarAddepalli" target="_blank" title="Github"> <img src="{% static 'github.png' %}" alt=""></a>
                    <a href="https://www.linkedin.com/in/addepallijayakar270602/" target="_blank" title="linkedin" ><img src="{% static 'linkedin.png' %}" alt=""></a>
                </div>
                <div class="contactbtn">
                    <button><a href="#contact" style="text-decoration: none;" class="buttonAchor">CONTACT ME <img src="{% static 'user.svg' %}" alt="" style="background-color: transparent; width: 20px; height: 20px;"></a></button>
                    <button><a id="resume" href="https://drive.google.com/file/d/1GN7tfI33m54o8zvkE7R_vIib1DiRVSpF/view?usp=sharing" target="_blank" style="color: white; text-decoration: none; background-color: transparent; width: 100%; height: 100%; display: flex; justify-content: space-evenly; align-items: center;">GET RESUME <img src="{% static 'download.svg' %}" alt="" style="background-color: transparent; width: 20px; height: 20px;"></a></button>
                </div>
            </div>
            <div class="card p-0 maincard" data-aos="flip-down" data-aos-duration="1000">
                <div class="card-header cardH  ">
                    <div class="mini-colors1"></div>
                    <div class="mini-colors2"></div>
                    <div class="mini-colors3"></div>
                </div>
                <div class="card-body">
                    <pre style="color: white; background-color: transparent;">
<span style="color: orange;">class</span> company:
        company_name = '.....'

        <span style="color: orange;">def</span> <span style="color: rgb(255, 225, 0);">successRate</span>(<span style="color: rgb(255, 0, 255);">self</span>):
            <span style="color: orange;">return</span> <span style="color: rgb(255, 0, 255);">self</span>.successrate

        <span style="color: orange;">def</span> <span style="color: rgb(255, 0, 255);">__init__</span>(<span style="color: rgb(255, 0, 255);">self</span>, name, skills, hardWorker, problemSolver, quickLearner):
            <span style="color: rgb(255, 0, 255);">self</span>.Name = name
            <span style="color: rgb(255, 0, 255);">self</span>.Skills = skills
            <span style="color: rgb(255, 0, 255);">self</span>.HardWorker = hardWorker
            <span style="color: rgb(255, 0, 255);">self</span>.ProblemSolver = problemSolver
            <span style="color: rgb(255, 0, 255);">self</span>.QuickLearner = quickLearner
            <span style="color: rgb(255, 0, 255);">self</span>.successrate = (<span style="color: rgb(255, 0, 255);">self</span>.HardWorker <span style="color: orange;">and</span> <span style="color: rgb(255, 0, 255);">self</span>.ProblemSolver <span style="color: orange;">and</span> 
                                <span style="color: rgb(255, 0, 255);">self</span>.QuickLearner <span style="color: orange;">and</span> <span style="color: rgb(0, 0, 255);">len</span>(<span style="color: rgb(255, 0, 255);">self</span>.Skills) >= <span style="color: rgb(14, 139, 255);">5</span>)

skillsList = [<span style="color: rgb(0, 214, 0);">'Python'</span>, <span style="color: rgb(0, 214, 0);">'Django'</span>, <span style="color: rgb(0, 214, 0);">'HTML'</span>, <span style="color: rgb(0, 214, 0);">'CSS'</span>, <span style="color: rgb(0, 214, 0);">'Javascript'</span>, <span style="color: rgb(0, 214, 0);">'SQL'</span>]
developer = company(<span style="color: rgb(0, 214, 0);">'Jayakar'</span>, skillsList, <span style="color: orange;">True</span>, <span style="color: orange;">True</span>, <span style="color: orange;">True</span>)

<span style="color: rgb(0, 0, 255);">print</span>(developer.successRate()) <span style="color: #00d6f7;">#True</span>
                    </pre>
                </div>
            </div>
            
        </section>
        <!-- <hr style="width: 50%; margin: 0px; padding: 0px; background-color: #555555; box-shadow: 0px 10px 20px #00d6f7;"> -->
        <section class="about-sec" id="about">
            <div class=" mx-auto about-title">
                ABOUT
            </div>
            <div>
                <h4>Who I Am?</h4>
                <h5>My name is Addepalli Jayakar. I am an entusiastic programmer in my daily life. I love problem solving and to develop websites which can be compatible in any devices. I am passionate about software technologies during my BTech, so I took training on Python Full Stack course. My Core skills are Python, Django, HTML, CSS, Javascript, SQL. I am available for any job opportunities that suits my skills and interests.</h5>
            </div>
            <div>
                <img src="{% static 'p.jpg' %}" alt="">
            </div>
        </section>
        <section class="marquee-block" id="skills">
            <div class="mx-auto skills-title">
                SKILLS
            </div>
            <div class="marquee">
                {% for i in skills %}
                    <div class="">
                        <img src='{{i.logo.url}}' alt="" style="background-color: transparent;">
                        <h5 style="text-align: center; background-color: transparent;">{{i.skill1}}</h5>
                    </div>
                {% endfor %}
                {% for i in skills %}
                    <div class="">
                        <img src='{{i.logo.url}}' alt="" style="background-color: transparent;">
                        <h5 style="text-align: center; background-color: transparent;">{{i.skill1}}</h5>
                    </div>
                {% endfor %}
                
                
            </div>
            <div class="marqueesml">
                {% for i in skills %}
                    <div class="">
                        <img src='{{i.logo.url}}' alt="" style="background-color: transparent;">
                        <h5 style="text-align: center; background-color: transparent;">{{i.skill1}}</h5>
                    </div>
                {% endfor %}
                {% for i in skills %}
                    {% if i.skill1 == 'HTML' or i.skill1 == 'CSS' or i.skill1 == 'Javascript' or i.skill1 == 'Python' or i.skill1 == 'Django' %}
                    <div class="">
                        <img src='{{i.logo.url}}' alt="" style="background-color: transparent;">
                        <h5 style="text-align: center; background-color: transparent;">{{i.skill1}}</h5>
                    </div>
                    {% endif %}
                {% endfor %}
                
                
            </div>
            
        </section>
        <section class="education-sec" id="education">
            <div class="mx-auto edu-title">
                EDUCATION
            </div>
            <div id="animeimg">
                <img src="{% static '3d.png' %}" alt="" class="dimage">
            </div>
            <div class="containers">
                <div>
                    <div>
                        <p>2019-2023</p>
                        <div>
                            <img src="{% static 'user.png' %}" alt="">
                            <div>
                                <h5>BACHELOR DEGREE</h5>
                                <h6>Jawaharlal Nehru Technology University Kakinada</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <p>2017-2019</p>
                        <div>
                            <img src="{% static 'user.png' %}" alt="">
                            <div>
                                <h5>INTERMEDIATE</h5>
                                <h6>Sri Chanitanya Junior College, Gudavalli</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <p>2017</p>
                        <div>
                            <img src="{% static 'user.png' %}" alt="">
                            <div>
                                <h5>10th STANDARD</h5>
                                <h6>Dr KKR Gowtham Concept School</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section class="projects" id="projects">
            <div class="mx-auto pro-title">
                PROJECTS
            </div>
            <!-- {% for i in projects %}
                {{i.ProjectName}}
                
                {% for skill in i.Tools.all %}
                    {{ skill.skill1 }}
                {% endfor %}
                

                {{i.Description}}
            {% endfor %}

            {{pro_dict}} -->
            
            
            {% for i in projects %}
                <div class="card p-0 maincard2 h-75">
                    <div class="card-header cardH">
                        <div class="mini-colors1"></div>
                        <div class="mini-colors2"></div>
                        <div class="mini-colors3"></div>
                    </div>
                    <div class="card-body">
                        <pre style="color: white; background-color: transparent;">
    <span style="color: orange;">class</span> Projects:
    
            <span style="color: orange;">def</span> <span style="color: rgb(255, 225, 0);">getTheLink</span>(<span style="color: rgb(255, 0, 255);">self</span>):
                <span style="color: orange;">return</span> <span style="color: rgb(255, 0, 255);">self</span>.__Link
    
            <span style="color: orange;">def</span> <span style="color: rgb(255, 0, 255);">__init__</span>(<span style="color: rgb(255, 0, 255);">self</span>, projectname, skills, description, responsive, link):
                <span style="color: rgb(255, 0, 255);">self</span>.ProjectName = projectname
                <span style="color: rgb(255, 0, 255);">self</span>.Skills = skills
                <span style="color: rgb(255, 0, 255);">self</span>.Description = description
                <span style="color: rgb(255, 0, 255);">self</span>.Responsiveness = responsive
                <span style="color: rgb(255, 0, 255);">self</span>.__Link = link
           
                
    skillsList = [{% for skill in i.Tools.all %}<span style="color: rgb(0, 214, 0);">'{{ skill.skill1 }}'</span>, {% endfor %}]
    
    project = Projects(<span style="color: rgb(0, 214, 0);">'{{i.ProjectName}}'</span>, skillsList, <span style="color: orange;">'{{i.Description}}'</span>, 
    <span style="color: orange;">'True'</span>, <span style="color: orange;">'{{i.link}}'</span>)

    <span style="color: rgb(0, 0, 255);">print</span>(project.<span style="color: rgb(255, 225, 0);">getTheLink</span>())-------<a href="{{i.link}}" target="_blank" >{{i.ProjectName}}<img src="{% static 'externalLink.png' %}" alt="" class="externalLink"></a> 
    <span style="color: rgb(0, 0, 255);">print</span>(project.<span style="color: rgb(255, 225, 0);">Responsiveness</span>)-------<span style="color: orange;">True</span>
                        </pre>
                    </div>
                </div>
                <br>
            {% endfor %}

            
        </section>

        <section class="contactsection" id="contact">
            <div class=" mx-auto contact-title">
                Contact
            </div>

            <div class="cont-form">
                <div class="card" style="border: solid #00d6f7 1px; border-radius: 10px;">
                    <form method="post" enctype="multipart/form-data" class="p-4" style="border: none; border-radius: 10px;">
                        {% csrf_token %}
                        <h6 class="mb-5">If any queries you can contact me by sending your details in the below form. I'm available for any job opportunities.</h6>

                        {% for i in messages %}
                            <div class="alert alert-success">
                                {{i}}
                            </div>
                        {% endfor %}

                        <div class="mb-4">
                            <label for="" class="form-label">Your Name:</label>
                            <input type="text" name="username" class="form-control bg-transparent text-white">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Your Email:</label>
                            <input type="email" name="useremail" class="form-control bg-transparent text-white">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Your Message:</label>
                            <textarea name="message" id="" class="form-control bg-transparent text-white" cols="1000" rows="10"></textarea>
                        </div>
                        <input type="submit" class="subbutton">
                        
                    </form>
                </div>
                
            </div>
        </section>
        <footer>
            <hr>
            <div>
                <p>&copy;&nbsp;<span style="color: var(--theme-color-patter);">Addepalli Jayakar</span>&nbsp;2024</p>
                <div>
                    <div>
                        <a href="mailto:addepallijayakar@gmail.com"><img src="{% static 'email.png' %}" alt=""></a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/addepallijayakar270602/" target="_blank"><img src="{% static 'linkedin.png' %}" alt=""></a>
                    </div>
                    <div>
                        <a href="https://github.com/JayakarAddepalli" target="_blank"><img src="{% static 'github.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>